.pagecontainer{
    display: grid;
    grid-template-areas: "section section section"
                            "header header header"
                            "main main";
}

.header-line{
    grid-area: section section section;
}

.header{
    grid-area: header header header;
}

section{
    grid-area: main main;
}

.article1{
    grid-area: main main;
}

.article2{
    grid-area: main;
}

.article3{
    grid-area: main;
}