body{
    margin: 0%;
    padding: 0%;
}

.pagecontainer{
    display: grid;
    grid-template-areas: "section section section"
                            "header header header"
                            "main main";
}

.header-line{
    grid-area: section section section;
    background-color: #f1dddd;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header header header;
    display: flex;
}

#logo{
    max-width: 50%;
    height: auto;
}

.menu1{
    list-style: none;
    
}

.menu2{
    align-content: baseline;
    text-align: justify;
    padding: 0%;
    list-style: none;
}

section{
    grid-area: main main;
}

.article1{
    grid-area: main main;
}

.article2{
    grid-area: main;
}

.article3{
    grid-area: main;
}